@charset "utf-8";

main{}
.main_visual{
  position:relative;
  width:100%;overflow:hidden;
  /* height:70vh; 높이 상대단위 */
}
.main_visual .swiper{position:relative;  width:100%;height:100vh;}
.main_visual > h2{display:none;}
.main_visual img{
  display:block;width:100%;height:100%;object-fit: cover;
}

#cont1, #cont2, #cont3, #cont4, #cont5{
  width:1200px;height:700px;
  margin:20px auto; /* 화면 중앙에 콘텐츠 배치 */
  background-color:#cccccc;
}